*, *::before, *::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.img {
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', sans-serif;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 940px;
}

.flag-new {
  margin: 0;
  padding: 0;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.header {
  margin: 0;
  padding: 0;
  height: 320px;
  background-color: #f3f7f8;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-top {
  margin: 0 0 45px 0;
  padding: 0;
  width: 100%;
  height: 42px;
  background-color: #293449;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.header-top__menu {
  margin: 0;
  padding: 0;

  color: #ffffff;
  font-size: 17px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.header-top__left {
  margin: 0;
  padding: 0;

  width: 490px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-top__logo {
  margin: 0;
  padding: 0;

  width: 220px;
  height: 42px;
  background-color: #ee3643;
  box-shadow: 0 5px #b52933;

  display: flex;
  justify-content: center;
  align-items: center;

}

.header-top__logo:hover {
  background-color: #ca2c37;
}

.header-top__search {
  margin: 0;
  padding: 0;

  width: 270px;
  height: 42px;
  background-color: #293449;
  border: none;
}

.search {
  margin: 0;
  padding: 0 0 0 45px;

  width: 100%;
  height: 100%;
  background: url("../img/icon-search-faded.svg") no-repeat scroll 15px 12px;

  border: none;
}

.search::placeholder {
  color: white;
}

.header-top__search:hover {
  background-color: #212a3a;
}

.header-top__search input:focus {
  background-color: white;
}

.search:hover {
  background: url("../img/icon-search.svg") no-repeat scroll 15px 12px;
}

.search:focus {
  background: url("../img/icon-search-red.svg") no-repeat scroll 15px 12px transparent;
}

.header-top__right {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-top__bookmarks {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 42px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top__bookmarks:focus {
  background-color: #212a3a;
  opacity: 0.5;
}

.header-top__bookmarks::before {
  content: url("../img/icon-bookmark.svg");
  margin-right: 15px;
  opacity: 0.3;
}

.header-top__bookmarks:hover::before {
  opacity: 1.0;
}

.header-top__basket {
  margin: 0 0 0 auto;
  padding: 0;
  width: 150px;
  height: 42px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top__basket:focus {
  background-color: #212a3a;
  opacity: 0.5;
}

.header-top__basket::before {
  content: url("../img/icon-cart.svg");
  margin-right: 15px;
  opacity: 0.3;
}

.header-top__basket:hover::before {
  opacity: 1.0;
}

.goods-add {
  background-color: #ee3643;
}

.header-top_checkout {
  margin: 0 0 0 auto;
  padding: 0;
  width: 150px;
  height: 42px;
  background-color: #63a63e;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-top_checkout:focus {
  opacity: 0.7;
}

.header-middle {
  margin: 0 0 40px 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /*flex-wrap: nowrap;*/
}

/*
.goods-add {
  background-color: #ee3643;
}
*/
.who-are-we {
  margin: 0 0 0 40px;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  color: #ee3643;

  line-height: 23px;
}

.header-middle__contacts {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header-middle__phone {
  margin: 0 0 10px 0;
  padding: 8px 0 0 0;
  font-size: 21px;
  color: #ee3643;

  width: 270px;
  height: 45px;

  border: 3px solid #ffffff;

/*
  display: flex;
  justify-content: flex-start;
  align-items: center;
*/
  vertical-align: baseline;
}

.header-middle__phone::before {
  content: url("../img/icon-phone.svg");
  margin-top: 8px;
  margin-left: 15px;
  margin-right: 40px;
  vertical-align: baseline;
}

.header-middle__address {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #32425c;
}

.header-middle__enter {
  margin: 0;
  padding: 0;

  font-size: 21px;

  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-middle__login {
  margin: 0;
  padding: 0;

  width: 121px;
  height: 45px;
  background-color: #ffffff;
  color: #000000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-middle__login:hover {
  color: #ee3643;
}

.header-middle__login:active {
  color: rgba(0, 0, 0, 0.3)
}

.header-middle__login::before {
  content: url("../img/icon-login.svg");
  margin-right: 15px;
}

.header-middle__login:hover::before {
  content: url("../img/icon-login-dark.svg");
  margin-right: 15px;
}

.header-middle__login:active::before {
  content: url("../img/icon-login.svg");
  margin-right: 15px;
}

.header-middle__signup {
  margin: 0 0 0 10px;
  padding: 0;

  width: 150px;
  height: 45px;
  background-color: #ffffff;
  color: #000000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-middle__signup:hover {
  color: #ee3643;
}

.header-middle__signup:active {
  color: rgba(0, 0, 0, 0.3)
}

.header-middle__user {
  margin: 0;
  padding: 0;

  width: 300px;
  min-height: 55px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.header-middle__user-name {
  margin: 0 0 7px 0;
  padding: 12px 0 0 15px;
  font-size: 21px;

  width: 100%;
  min-height: 45px;
  background-color: #ffffff;
  color: #000000;

  vertical-align: baseline;
  white-space: nowrap;
  overflow: auto;
}

.header-middle__user-name::before {
  content: url("../img/icon-user.svg");
  margin-right: 15px;
}

.header-middle__user-name:hover::before {
  content: url("../img/icon-user-dark.svg");
  margin-right: 15px;
}

.header-middle__user-name::after {
  content: url("../img/icon-logout.svg");
  margin-left: 25px;
}

.header-middle__user-name:hover::after {
  content: url("../img/icon-logout-dark.svg");
  margin-left: 25px;
}

.header-middle__user-name:active {
  color: rgba(0, 0, 0, 0.3)
}

.header-middle__user-name:active::before {
  content: url("../img/icon-user.svg");
  margin-right: 15px;
}

.header-middle__user-name:active::after {
  content: url("../img/icon-logout.svg");
  margin-right: 15px;
}

.header-middle__user-data {
  margin: 0;
  padding: 0;

  width: 100%;

  font-size: 16px;
  text-decoration: underline;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.user-data__item {
  margin: 0 0 0 15px;
  padding: 0;

  color: #32425c;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.user-data__item:hover {
  color: #ee3643;
  text-decoration: underline;
}

.user-data__item:active {
  color: rgba(0, 0, 0, 0.3)
}

.user-data__point {
  margin: 7px 0 0 15px;
  padding: 0;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #32425c;
}

.header-bottom {
    margin: 0 0 60px 0;
    padding: 0;

    font-size: 17px;
    min-height: 55px;
    background-color: #32425c;
    box-shadow: 0 5px #293449;

    list-style: none;

    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
}

.header-bottom__item {
  margin: 0;
  padding: 0;

  height: 60px;

  flex-grow: 1;
}

.header-bottom a {
  color: #ffffff;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bottom a:hover,
.header-bottom a:focus {
  background-color: #293449;
}

.header-bottom a:active {
  color: rgba(255, 255, 255, 0.3)
}

.main {
  margin: 0;
  padding: 0;

  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.indent {
  margin-top: 60px;
}

.offers {
  margin: 0 0 55px 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

}

.offers-top {
  margin: 0 0 20px 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.offers-box {
  margin: 0;
  padding: 0;
  width: 300px;
  height: 123px;

  color: #ffffff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.offers-box__left {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.offers-box__right {
  margin: 0;
  padding: 0;

  width: 50%;
  height: 100%;
}

.offers-box__materials {
  background: url("../img/icon-1.svg") no-repeat center,
              url("../img/new-flag.png") no-repeat top right;
}

.offers-box__instruments {
  background: url("../img/icon-2.svg") no-repeat center;
}

.offers-box__technics {
  background: url("../img/icon-3.svg") no-repeat center;
}

.offers-box__discounts {
  background: url("../img/icon-4.svg") no-repeat center;
}

.offers-box__delivery {
  background: url("../img/icon-5.svg") no-repeat center;
}

.offers-box__quarter {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50%;
}

.offers-box__title {
  font-size: 24px;
  font-weight: bold;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.offers-box__slogun-area {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

.offers-box__slogun {
  margin: 0;
  padding: 0;

  width: 135px;
  height: 38px;

  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;

  border-radius: 4px;
  background-color: #000000;
  opacity: 0.1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.offers-box__slogun:hover {
  opacity: 0.2;
}

.offers-box__slogun:active {
  opacity: 0.5;
}

.offers-materials {
  background-color: #ffbf47;
}

.offers-instruments {
  background-color: #3bbce3;
}

.offers-technics {
  background-color: #dc91d8;
}

.offers-discounts {
  background-color: #8ed78f;
}

.offers-delivery {
  background-color: #ffc047;
}

.offers-bottom {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.offers-slider {
  margin: 0;
  padding: 0;

  width: 620px;
  height: 265px;

  /*background-image: url("../img/slider1.jpg");*/
  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.offers-slider.drills-img {
  background-image: url("../img/slider-drills.jpg");
}

.offers-slider.punchers-img {
  background-image: url("../img/slider-punchers.jpg");
}

.offers-slide__drills {
  margin: 0;
  padding: 20px 0 0 0;

  height: 105px;
  display: block;
}

.offers-slide__punchers {
  margin: 0;
  padding: 20px 0 0 0;

  height: 105px;
  display: block;
}

.offers-slide__title {
  margin: 0 0 0 25px;
  padding: 0;

  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.offers-slide__text {
  margin: 0 0 0 25px;
  padding: 0;

  font-size: 18px;
  font-weight: normal;
}

.offers-slide__nav {
  margin: 0;
  padding: 0;

  height: 80px;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.offers-slide__left {
  margin: 8px auto 0 25px;
  padding: 0;
}

.offers-slide__left::before {
  content: url(../img/icon-left.svg);
}

.offers-slide__right {
  margin: 8px 20px 0 auto;
  padding: 0;
}

.offers-slide__right::before {
  content: url(../img/icon-right.svg);
}

.offers-slide__button {
  margin: 0 0 0 25px;
  padding: 0;

  height: 80px;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.offers-right {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.popular-title {
  margin: 0 0 20px 0;
  padding: 0 25px 0 30px;

  background-color: #f9f5f0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.popular-heading {
  font-size: 30px;

  color: #32425c;
  text-transform: uppercase;
}

.red-button {
  margin: 0;
  padding: 0;

  background-color: #ee3643;
  color: #ffffff;
  height: 38px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.red-button:hover,
.red-button:focus {
    background-color: #ca2c37;
}

.red-button:active {
    background-color: #ba2732;
}

.button-middle {
  width: 220px;
}

.button-long {
  width: 253px;
}

.button-verylong {
  width: 300px;
}

.popular-manufacturers {
  margin: 0 0 20px 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.manufacturers-item {
  margin: 0;
  padding: 0;

  width: 220px;
  height: 145px;

  border-style: solid;
  border-width: 1px;
  border-color: #eaeaea;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.manufacturers-item:hover,
.manufacturers-item:focus {
  box-shadow: 0 20px 30px #ababab;
}

.manufacturers-item:active {
  opacity: 0.3;
}

.service {
  margin: 85px 0 80px 0;
  padding: 65px 0 0 0;

  background-color: #f4f8f9;

  width: 100%;
  min-height: 522px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.service-container {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.service-container.delivery {
  background: no-repeat
    url("../img/delivery.png")
    bottom right;
}

.service-container.guarantee {
  background: no-repeat
    url("../img/guarantee.png")
    bottom right;
}

.service-container.credit {
  background: no-repeat
    url("../img/credit.png")
    bottom right;
}

.service-container-offers {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.service-title {
  margin: 0 0 38px 0;
  padding: 0;

  font-family: 'Cuprum', sans-serif;
  font-weight: normal;
  font-size: 30px;
  color: #000000;
  text-transform: uppercase;
}

.service-text {
  margin: 0 0 70px 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
}

.services {
  margin: 0 0 100px 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.services-list {
  margin: 0 80px 0 0;
  padding: 0;

  font-family: 'Cuprum', sans-serif;
  font-size: 21px;
  font-weight: bold;

  list-style: none;
}

.services-list__item {
  margin: 0;
  padding: 0 0 0 20px;

  width: 240px;
  height: 61px;
  background-color: #32425c;
  color: #ffffff;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.services-list__item.is-active {
  background-color: #ffffff;
  color: #32425c;
}

.services-article {
}

.services-delivery,
.services-gaurantee,
.services-credit {
  display: block;
}

.services__title {
  margin: 0;
  padding: 0 0 20px 0;

  font-family: 'Cuprum', sans-serif;
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;

  color: #32425c;
  display: block;
}

.service__text {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  display: block;
}

.display-off {
  display: none;
}

.we {
  margin: 0 0 85px 0;
  padding: 0;

  min-height: 372px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.we-about {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  color: #000000;
}

.we-title {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.we-text {
  margin: 38px 0 0 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: normal;

  line-height: 24px;
}

.we-delivery {
  margin: 11px 0 0 0;
  padding: 0;

  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;

  list-style-type: none;
}

.we-delivery__item {
  margin: 25px 0 0 0;
  padding: 0;
}

.we-delivery__item::before {
  content: '';
  display: inline-block;
  height: 2px;
  width: 25px;
  vertical-align: middle;
  background-color: #ee3643;
  margin-right: 10px;
}

.we-about__details {
  margin: 40px 0 0 0;
  padding: 0;
}

.we-contacts {
  margin: 0;
  padding: 0;

  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  color: #000000;
}

.we-map {
  margin: 38px 0 0 0;
  padding: 0;
  vertical-align: baseline;
}

.we-buttons {
  margin: 40px 0 0 0;
  padding: 0;
}

.footer {
  margin: 0;
  padding: 0;
  min-height: 300px;

  color: #f1f5f7;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-top {
  margin: 0;
  padding: 0;
  min-height: 193px;
  width: 100%;
  background-color: #32425c;
  font-size: 18px;
  line-height: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-top-up {
  margin: 0;
  padding: 0;
  min-height: 63px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  margin: 0;
  padding: 0;

  width: 220px;
  height: 63px;
  background-color: #ee3643;
  box-shadow: 0 5px #b52933;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-menu {
  margin: 0;
  padding: 0 0 8px 0;

  list-style: none;
  width: 60%;
  min-height: 63px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-menu__item {
  margin: 0;
  padding: 0;
}

.footer-menu__item:active {
  opacity: 0.5;
}

.footer-top-down {
  margin: 0;
  padding: 0;

  min-height: 130px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-address {
  margin: 30px 0 0 0;
  padding: 0;
  color: #f3f7f9;
}

.menu-stock {
  margin: 30px 0 0 0;
  padding: 0;
  width: 57%;

  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-stock a {
  color: #ffd180;
}

.footer-bottom {
  margin: 0;
  padding: 0;
  min-height: 107px;
  width: 100%;
  background-color: #293449;
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bottom-menu {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-menu a {
  color: #ffd180;
}

.footer-copyright {
  color: #ffffff;
}

.social-icons {
  margin: 0 0 0 90px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-circle {
  margin: 0;
  padding: 0;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;

  display: flex;
  justify-content: center;
  align-items: center;
}

.social-circle:hover,
.social-circle:active {
  background-color: #ee3643;
}

.footer-email {
  margin: 0 0 0 70px;
  padding: 0;
  color: #ffffff;
}

.footer-developed {
  margin: 0 10px 0 0;
  padding: 0;
  color: #ffffff;
}

.footer-email:active a,
.footer-developed:active a {
  color: #ee3643;
}

.modal {
  position: fixed;

  color: #000000;
  background-color: white;
}

.modal-writeus {
  margin-left: -310px;
  padding: 40px 0 0 0;

  top: 270px;
  left: 50%;

  width: 620px;

  box-shadow: 0px 20px 30px 10px #111111, 0 -7px #ff5257;

  display: none;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 22px;
  height: 22px;

  background-color: transparent;
  border: 0;
  cursor: pointer;
  z-index: 50;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 21px;
  height: 3px;

  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.form-writeus {
  margin-bottom: 40px;
  padding: 0 80px;

  font-size: 18px;
}

.writeus-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.writeus-label {
  display: block;
  margin-bottom: 14px;
}

.writeus-user-input {
  margin: 0;
  padding: 0;

  width: 220px;
  height: 38px;

  font-family: 'PT Sans', sans-serif;
  font-size: 13px;

  border-color: #dee3e4;
  border-style: solid;
  border-width: 1px;
}

.writeus-user-input::placeholder {
  padding-left: 15px;
  color: #a9a9a9;
}

.writeus-user-comment {
  padding-top: 14px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  vertical-align: baseline;
}

.writeus-user-comment::placeholder {
  padding-left: 15px;
  color: #a9a9a9;
}

.writeus-bottom {
  background-color: #f4f4f4;
}

.writeus-submit {
  margin: 40px 0 40px 80px;;
  padding: 0;

  background-color: #ee3643;
  border-radius: 3px;
  color: #ffffff;
  width: 460px;
  height: 38px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.modal-map {
  padding: 0;

  top: 50%;
  left: 50%;

  width: 950px;
  height: 460px;

  margin-top: -270px;
  margin-left: -475px;
/*
  box-shadow: 0px 10px 20px 10px white;
*/
  background-color: transparent;

  display: none;
 }

.modal-map p {
  margin: 0;
  padding: 0;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.modal-map img {
  margin: 0;
  padding: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 30;

  border: none;
}

.modal-cart {
  margin-left: -310px;
  padding: 40px 0 0 0;

  top: 400px;
  left: 50%;

  width: 620px;

  box-shadow: 0px 20px 30px 10px #111111, 0 -7px #ff5257;

  vertical-align: middle;

  display: none;

  /*display: block;*/
}

.modal-show {
  display: block;
}

.cart__text {
  margin: 0 0 40px 0;
  padding: 0;

  font-family: 'Cuprum', sans-serif;
  font-weight: normal;
  font-size: 30px;

  text-align: center;
  vertical-align: inherit;
}

.cart__text::before {
  content: url("../img/icon-mark.svg");
  margin-right: 20px;
  vertical-align: inherit;
}

.cart-bottom {
  margin: 0;
  padding: 38px 0;

  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-buttons {
  margin: 0;
  padding: 12px 0;

  width: 220px;
  /*height: 38px;*/
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;

  cursor: pointer;
}

.cart-buy {
  margin-left: 20px;
  background-color: #ffffff;
  color: black;
}

.cart-order {
  background-color: #ee3643;
  color: #ffffff;
}

.catalog-title {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
}

.breadcrumbs {
  margin: 0;
  padding: 0;

  min-height: 60px;

  list-style: none;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.breadcrumbs a {
  color: black;
}

.breadcrumbs__item {
  margin-right: 15px;
}

.breadcrumbs__item:first-child a::before {
  content: url("../img/icon-home.svg");
  margin-right: 0;
}

.breadcrumbs__item:not(:first-child)::before {
  content: url("../img/icon-right-small.svg");
  margin-right: 15px;
}

.catalog-section__title {
  margin: 0 0 20px 0;
  padding: 0 0 0 30px;

  height: 90px;

  background-color: #f2f6f8;
  color: #32425c;

  font-family: 'Cuprum', sans-serif;
  font-weight: normal;
  font-size: 30px;
  text-transform: uppercase;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.catalog-section {
  margin: 0 0 60px 0;
  padding: 0;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.filter {
  margin: 0;
  padding: 0;

  width: 220px;
}

.filter-title {
  margin: 0;
  padding: 0 0 0 20px;

  width: 100%;
  height: 38px;
  border-radius: 3px;
  background-color: #f7f3ec;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.price {
  margin: 0 0 20px 0;
  padding: 0 0 25px 0;

  border-bottom: 1px solid #cccccc;
}

.price-title {
  margin: 20px 0 25px 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}

.price-slider {
  margin: 0 0 10px 0;
  padding: 0;

  width: 100%;
  height: 80px;
  border-radius: 3px;
  background-color: #f7f3ec;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.price-slider__line {
  margin: 0;
  padding: 0;

  content: "";

  position: absolute;
  top: 40px;
  left: 20px;
  width: 140px;
  height: 2px;

  background-color: green;
}

.price-slider__line::before {
  content: url("../img/filter-button.svg");
  position: absolute;
  top: -10px;
  left: 0px;
  width: 20px;
  height: 23px;
}

.price-slider__line::after {
  content: url("../img/filter-button.svg");
  position: absolute;
  top: -10px;
  left: 140px;
  width: 20px;
  height: 23px;
}

.price-fork {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-fork__item {
  margin: 0;
  padding: 0 0 0 10px;

  width: 95px;
  height: 38px;
  border-style: none;
  border-radius: 3px;

  background-color: #f7f3ec;

  text-align: center;
}

.price-fork__hyphen {
  margin: 0;
  padding: 0;

  width: 30px;
  height: 38px;

  font-family: 'PT Sans', sans-serif;
  font-size: 17px;

  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.manufactures {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;

  border: none;
  border-bottom: 1px solid #cccccc;
}

.manufactures-title {
  margin: 0 0 20px 0;
  padding: 0;

  font-size: 17px;
  font-weight: bold;
}

.buttons-list {
  margin: 0;
  padding: 0;

  list-style: none;

  font-size: 15px;
  font-weight: normal;
}

.filter-checkbox {
  margin: 0 0 20px -18px;

	z-index: -1;
  opacity: 0;
}

.filter-checkbox:disabled + label,
.filter-checkbox:disabled:checked + label {
  margin: 0;
	position: relative;
	padding: 0 0 0 35px;
	cursor: pointer;
  opacity: 0.4;
}

.filter-checkbox:disabled + label::before {
  content: url("../img/checkbox-off.svg");
  position: absolute;
  top: -2px;
  left: 0;
  width: 27px;
  height: 23px;
  opacity: 0.4;
}

.filter-checkbox:disabled:checked + label::before {
  content: url("../img/checkbox-on.svg");
  position: absolute;
  top: -2px;
  left: 0;
  width: 27px;
  height: 23px;
  opacity: 0.4;
}

.filter-checkbox:enabled + label,
.filter-checkbox:enabled:checked + label {
  margin: 0;
	position: relative;
	padding: 0 0 0 35px;
	cursor: pointer;
  opacity: 0.7;
}

.filter-checkbox:enabled + label::before {
  content: url("../img/checkbox-off.svg");
  position: absolute;
  top: -2px;
  left: 0;
  width: 27px;
  height: 23px;
  opacity: 0.7;
}

.filter-checkbox:enabled:checked + label::before {
  content: url("../img/checkbox-on.svg");
  position: absolute;
  top: -2px;
  left: 0;
  width: 27px;
  height: 23px;
  opacity: 0.7;
}

.filter-checkbox:enabled:hover + label,
.filter-checkbox:enabled:checked:hover + label {
  margin: 0;
	position: relative;
	padding: 0 0 0 35px;
	cursor: pointer;
  opacity: 1.0;
}

.filter-checkbox:enabled:hover + label::before {
  content: url("../img/checkbox-off.svg");
  position: absolute;
  top: -2px;
  left: 0;
  width: 27px;
  height: 23px;
  opacity: 1.0;
}

.filter-checkbox:checked:enabled:hover + label::before {
  content: url("../img/checkbox-on.svg");
  position: absolute;
  top: -2px;
  left: 0;
  width: 27px;
  height: 23px;
  opacity: 1.0;
}

.filter-radio {
  margin: 0 0 20px -18px;

	z-index: -1;
  opacity: 0;
}

.filter-radio:disabled + label,
.filter-radio:disabled:checked + label {
  margin: 0;
	position: relative;
	padding: 0 0 0 35px;
	cursor: pointer;
  opacity: 0.4;
}

.filter-radio:disabled + label::before {
  content: url("../img/radio-off.svg");
  position: absolute;
  top: -2px;
  left: 0;
  width: 25px;
  height: 25px;
  opacity: 0.4;
}

.filter-radio:disabled:checked + label::before {
  content: url("../img/radio-off.svg");
  position: absolute;
  top: -2px;
  left: 0;
  width: 25px;
  height: 25px;
  opacity: 0.4;
}

.filter-radio:enabled + label,
.filter-radio:enabled:checked + label {
  margin: 0;
	position: relative;
	padding: 0 0 0 35px;
	cursor: pointer;
  opacity: 0.7;
}

.filter-radio:enabled + label::before {
  content: url("../img/radio-off.svg");
  position: absolute;
  top: -2px;
  left: 0;
  width: 25px;
  height: 25px;
  opacity: 0.7;
}

.filter-radio:enabled:checked + label::before {
  content: url("../img/radio-on.svg");
  position: absolute;
  top: -2px;
  left: 0;
  width: 25px;
  height: 25px;
  opacity: 0.7;
}

.filter-radio:enabled:hover + label,
.filter-radio:enabled:checked:hover + label {
  margin: 0;
	position: relative;
	padding: 0 0 0 35px;
	cursor: pointer;
  opacity: 1.0;
}

.filter-radio:enabled:hover + label::before {
  content: url("../img/radio-off.svg");
  position: absolute;
  top: -2px;
  left: 0;
  width: 25px;
  height: 25px;
  opacity: 1.0;
}

.filter-radio:enabled:checked:hover + label::before {
  content: url("../img/radio-on.svg");
  position: absolute;
  top: -2px;
  left: 0;
  width: 25px;
  height: 25px;
  opacity: 1.0;
}

.power {
  margin: 20px 0 80px 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;

  border: none;
}

.power-title {
  margin: 0 0 20px 0;
  padding: 0;

  font-size: 17px;
  font-weight: bold;
}

.filter-submit {
  margin: 0;
  padding: 0;

  width: 140px;
  height: 40px;
  background-color: white;

  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  text-transform: uppercase;

  border: 1px solid #cccccc;
  border-radius: 3px;
  cursor: pointer;
}

.goods {
  margin: 0;
  padding: 0;

  width: 700px;
  min-height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.catalog-sort {
  margin: 0 0 20px 0;
  padding: 0;

  width: 700px;
  min-height: 38px;
  border-radius: 3px;
  background-color: #f7f3ec;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-sort__title {
  margin: 0 0 0 15px;
  padding: 0;
}

.catalog-sort__type {
  margin: 0;
  padding: 0;

  width: 480px;
  height: 38px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sort-type__item {
  margin: 0;
  padding: 0;

  height: 38px;
  flex-grow: 1;

  color: #000000;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #ee3643;
  opacity: 0.3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-type__item.is_active {
  opacity: 1.0;
  color: #ee3643;
  text-decoration: none;
}


.sort-direct {
  margin: 0;
  padding: 0;

  width: 75px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-direct__item {
  margin: 0;
  padding: 0;

  height: 38px;
  flex-grow: 1;

  opacity: 0.3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-type__item:hover,
.sort-type__item:focus,
.sort-direct__item:hover,
.sort-direct__item:focus {
  opacity: 1.0;
}

.sort-direct__item.is_active svg path {
  fill: #ee3643;
  opacity: 1.0;
}

.catalog-items {
  margin: 0;
  padding: 0;

  width: 100%;

  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item {
  margin: 0 0 20px 0;
  padding: 0;

  width: 218px;

  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  vertical-align: baseline;

  border: 1px solid #cccccc;

  position: relative;

  display: inline-block;
}

.catalog-item:hover {
  box-shadow: 0 20px 30px #ababab;
}

.catalog-item:hover .catalog-item__actions,
.catalog-item:focus .catalog-item__actions {
  display: block;
}

.catalog-item__flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;

  background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item__actions {
  padding: 40px 0;

  width: 216px;
  height: 88px;

  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(255,255,255,0.9);

  z-index: 10;

  display: none;
}

.catalog-item__image {
  width: 216px;
  height: 170px;
}

.catalog-item__image img {
  max-width: 100%;
}

.catalog-item__title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item__discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;

  color: #999;
  text-decoration: line-through;
}

.catalog-item__price {
  margin: 10px auto 20px auto;
  padding: 10px 30px;

  background-image: url("../img/red-button.svg");
  width: 141px;
  height: 38px;
  font-size: 17px;
  color: #ffffff;
}

.catalog-item__buy,
.catalog-item__bookmark {
  margin: 0 auto 7px auto;
  padding: 7px 0;

  display: block;
  width: 129px;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  color: white;
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  font-weight: normal;

  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog-item__bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item__bookmark:hover {
    border-color: #32425c;
}

.catalog-item__bookmark:active {
  color: #c1c6ce;
  border-color: #c1c6ce;
}

.catalog-item__buy:hover {
  background-color: #5fbb2d;
}

.catalog-item__buy:active {
  background-color: #518534;
}

.catalog-pages {
  margin: 32px 0 0 0;
  padding: 0;

  list-style: none;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.catalog-pages__item {
  margin: 0 10px 0 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  font-size: 13px;
}


.catalog-pages__link {
  display: block;
  border: 1px solid #cccccc;
  color: #000000;
  padding-top: 11.5px;
  padding-bottom: 11.5px;
  padding-left: 14.5px;
  padding-right: 14.5px;
  border-radius:3px;
  line-height: 1;
  text-decoration: none;
}

.catalog-pages__link:hover,
.catalog-pages__link:focus {
  border-color: grey;
}

.catalog-pages__link:active {
  border-color: #ee3643;
}

.catalog-pages__link.is-active {
  background-color: #ee3643;
  border-color: #ee3643;
  color: #FFF;
}

.catalog-pages__item:last-child .catalog-pages__link {
  padding-left: 31px;
  padding-right: 31px;
}

.main-undenground {
  margin: 0;
  padding: 65px 0 0 0;

  min-height: 260px;
  width: 100%;

  background-color: #f2f6f8;
}

.about-goods {
  margin: 0 auto;
  padding: 0;
  width: 940px;

}

.about-goods__title {
  margin: 0 0 40px 0;
  padding: 0;

  font-family: 'Cuprum', sans-serif;
  font-weight: normal;
  font-size: 30px;
  text-transform: uppercase;
}

.about-goods__text {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  font-size: 13px;
}
